/bin/windows_visual_studio/Debug_x64/MM_UnitTestFramework.exe
/bin/windows_visual_studio/Debug_x64/MM_UnitTestFramework.ilk
/bin/windows_visual_studio/Debug_x64/MM_UnitTestFramework.pdb
/obj/windows_visual_studio/Debug_x64/MM_UnitTestFramework_Test.obj
/obj/windows_visual_studio/Debug_x64/MM_UnitTestFramework_main.obj
/obj/windows_visual_studio/Debug_x64/vc141.idb
/obj/windows_visual_studio/Debug_x64/vc141.pdb
/project_settings/windows_visual_studio/MM_UnitTestFramework/.vs/MM_NewProjectTemplate/v15/.suo
/project_settings/windows_visual_studio/MM_UnitTestFramework/.vs/MM_NewProjectTemplate/v15/Browse.VC.db
/project_settings/windows_visual_studio/MM_UnitTestFramework/.vs/MM_NewProjectTemplate/v15/ipch/AutoPCH/3c314e81e43646d2/MM_NEWPROJECTTEMPLATE_MAIN.ipch
/project_settings/windows_visual_studio/MM_UnitTestFramework/MM_UnitTestFramework/x64/Debug/MM_NewPr.A7AB68B0.tlog/CL.command.1.tlog
/project_settings/windows_visual_studio/MM_UnitTestFramework/MM_UnitTestFramework/x64/Debug/MM_NewPr.A7AB68B0.tlog/CL.read.1.tlog
/project_settings/windows_visual_studio/MM_UnitTestFramework/MM_UnitTestFramework/x64/Debug/MM_NewPr.A7AB68B0.tlog/CL.write.1.tlog
/project_settings/windows_visual_studio/MM_UnitTestFramework/MM_UnitTestFramework/x64/Debug/MM_NewPr.A7AB68B0.tlog/MM_NewProjectTemplate.lastbuildstate
/project_settings/windows_visual_studio/MM_UnitTestFramework/MM_UnitTestFramework/x64/Debug/MM_NewPr.A7AB68B0.tlog/link.command.1.tlog
/project_settings/windows_visual_studio/MM_UnitTestFramework/MM_UnitTestFramework/x64/Debug/MM_NewPr.A7AB68B0.tlog/link.read.1.tlog
/project_settings/windows_visual_studio/MM_UnitTestFramework/MM_UnitTestFramework/x64/Debug/MM_NewPr.A7AB68B0.tlog/link.write.1.tlog
/project_settings/windows_visual_studio/MM_UnitTestFramework/MM_UnitTestFramework/x64/Debug/MM_NewProjectTemplate.Build.CppClean.log
/project_settings/windows_visual_studio/MM_UnitTestFramework/MM_UnitTestFramework/x64/Debug/MM_NewProjectTemplate.log
/project_settings/windows_visual_studio/MM_UnitTestFramework/MM_UnitTestFramework/x64/Debug/MM_UnitT.03D6B809.tlog/CL.command.1.tlog
/project_settings/windows_visual_studio/MM_UnitTestFramework/MM_UnitTestFramework/x64/Debug/MM_UnitT.03D6B809.tlog/CL.read.1.tlog
/project_settings/windows_visual_studio/MM_UnitTestFramework/MM_UnitTestFramework/x64/Debug/MM_UnitT.03D6B809.tlog/CL.write.1.tlog
/project_settings/windows_visual_studio/MM_UnitTestFramework/MM_UnitTestFramework/x64/Debug/MM_UnitT.03D6B809.tlog/MM_UnitTestFramework.lastbuildstate
/project_settings/windows_visual_studio/MM_UnitTestFramework/MM_UnitTestFramework/x64/Debug/MM_UnitT.03D6B809.tlog/link.command.1.tlog
/project_settings/windows_visual_studio/MM_UnitTestFramework/MM_UnitTestFramework/x64/Debug/MM_UnitT.03D6B809.tlog/link.read.1.tlog
/project_settings/windows_visual_studio/MM_UnitTestFramework/MM_UnitTestFramework/x64/Debug/MM_UnitT.03D6B809.tlog/link.write.1.tlog
/project_settings/windows_visual_studio/MM_UnitTestFramework/MM_UnitTestFramework/x64/Debug/MM_UnitTestFramework.Build.CppClean.log
/project_settings/windows_visual_studio/MM_UnitTestFramework/MM_UnitTestFramework/x64/Debug/MM_UnitTestFramework.log
/bin/windows_visual_studio/Release_x64/*.exe
/bin/windows_visual_studio/Release_x64/*.iobj
/bin/windows_visual_studio/Release_x64/*.ipdb
/bin/windows_visual_studio/Release_x64/*.pdb
/obj/windows_visual_studio/Release_x64/*.obj
/obj/windows_visual_studio/Release_x64/*.pdb
/project_settings/windows_visual_studio/MM_UnitTestFramework/MM_UnitTestFramework/x64/Release/MM_UnitT.03D6B809.tlog/*.tlog
/project_settings/windows_visual_studio/MM_UnitTestFramework/MM_UnitTestFramework/x64/Release/MM_UnitT.03D6B809.tlog/*.lastbuildstate
/project_settings/windows_visual_studio/MM_UnitTestFramework/MM_UnitTestFramework/x64/Release/*.log
/bin/windows_gcc/*.exe
/obj/windows_gcc/MM_UnitTestFramework_Test/*.o
/obj/windows_gcc/*.o
